[mysqld]
# 监听所有网卡
bind-address = 0.0.0.0
# 设置端口
port = 3306
#设置了连接的字符集和排序规则为 UTF-8 和 utf8mb4_unicode_ci
init_connect="SET collation_connection = utf8mb4_unicode_ci"
init_connect="SET NAMES utf8mb4"
#设置了 MySQL 服务器的字符集为 UTF-8
character-set-server=utf8mb4
#设置了 MySQL 服务器的排序规则为 utf8mb4_unicode_ci，通常用于支持国际化和多语言字符的正确排序
collation-server=utf8mb4_unicode_ci
#用于禁用客户端字符集握手，允许客户端和服务器之间的字符集设置更加灵活。
skip-character-set-client-handshake
#禁用了主机名解析，以提高连接性能
skip-name-resolve

pid-file = /var/run/mysqld/mysqld.pid
socket = /var/run/mysqld/mysqld.sock
datadir = /var/lib/mysql


[mysql]
default-character-set=utf8mb4

[client]
default-character-set=utf8mb4
