[SddmGreeterTheme]
Name=Pardus-Dolunay
Description=Pardus-Dolunay
Author=efeyaryukey
Copyright=(c) 2020, efeyaryukey
License=GPLv3
Type=sddm-theme
Version=1.0
Website=
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=muhammedfaruk@protonmail.com
Theme-Id=Pardus-Dolunay
Theme-API=2.0
